:root {
    --bg: white;
    --bg-header: #1F1F21;
    --fg-header: #F2F2F2;
    --bg-main: white;
    --bg-footer: rgb(255, 202, 111);
    --fg-footer: rgb(61, 0, 102);
}

body {
    margin: 0px;
    background: var(--bg);
}

header {
    margin: 16px;
    padding: 16px;
    background: var(--bg-header);
    color: var(--fg-header);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

nav a {
    font-size: 20px;
    color: var(--fg-header);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav a:hover, a.active {
    border-bottom: 2px solid var(--fg-header);
    border-inline-start: 15px;
}

.header--contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--contact a {
    border: #39393b 2px solid;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 64px;
    margin-left: 12px;
    color: var(--bg-header);
    background-color: #FEDB57;
    text-decoration: none;
}

.header--contact a img {
    width: 24px;
    height: 24px;
}



main {
    background: var(--bg-main);
    padding: 24px 5%;
}

main .big-text {
    padding: 148px 5% 24px 15%;
}

main .big-text h1 {
    font-size: 64px;
    text-shadow: 20px 15px 20px burlywood;
}

main .big-text h2 {
    font-size: 48px;
    padding-left: 96px;
    font-weight: lighter;
}

footer {
    background: var(--bg-footer);
    color: var(--fg-footer);
}

/* projects */

.projects-h {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.proud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proud a article {
    color: black;
}
.less-proud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.less-proud a article {
    color: black;
}

main.projects section a {
    border: 2px solid black;
    padding: 24px;
    text-decoration: none;
    width: 15%;
    min-height: 160px;
    max-height: 320px;
}

.projects section {
    gap: 24px;
}

.endora-panel {
    width: 0px;
    height: 0px;
    visibility: collapse;
    display: none;
}