<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>danb1551 | pages/portfolio</title>
    <script src="../static/scripts/index.js"></script>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body onload="init()">
    <header>
        <div class="logo">
            <h1>Portfolio</h1>
        </div>
        <nav>
            <a href="/" class="active">Home</a>
            <a href="/services">Services</a>
            <a href="/projects">Projects</a>
            <a href="/portfolio">Portfolio</a>
        </nav>
        <div class="header--contact">
            <a href="/cv"><img src="../static/img/download-icon.png" alt="download icon">CV</a>
            <a href="/contact">Contact</a>
        </div>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>