{% extends "base.html" %}


    <script src="{{  url_for('static', filename='scripts/index.js')  }}"></script>
    <link rel="stylesheet" href="{{  url_for('static', filename='styles/index.css')  }}">

{% block title %}Home{% endblock %}

{% block page_name %}Home{% endblock %}

{% block main %}
        <div class="big-text">
            <h1>Daniel Balcar</h1>
            <h2>- Full-stack Developer</h2>
        </div>
        <div class="me-online">
            <h3>Follow me on-line:</h3>
            <nav>
                <a href="https://github.com/danb1551">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="https://instagram.com/danik_12sniper">
                    <i class="fa-brands fa-instagram"></i>
                    Instagram
                </a>
                <a href="mailto:danielbalcar22@gmail.com">
                    <i class="fa-brands fa-google"></i>
                    Gmail
                </a>
                <a href="https://discord.com/users/1141264546221269013">
                    <i class="fa-brands fa-discord"></i>
                    Discord
                </a>
            </nav>
        </div>
{% endblock %}